<header class="header-wrapper bg-teel">
  <div class="top-header-wrapper py-[12px] border-b border-black max-[768px]:hidden">
    <div class="container content-max">
      <div class="flex flex-row flex-wrap mx-[-20px]">
        <div class="w-[50%] px-[20px]">
          {% if section.settings.top_header_welcome != blank %}
          <div class="col-left">
            <p class="font-GTSuper italic text-body mb-0">{{ section.settings.top_header_welcome }}</p>
          </div>
          {% endif %}
        </div>
        <div class="w-[50%] px-[20px]">
          {% if section.settings.top_header_nav != blank %}
          <ul class="top-nav-wrapper flex flex-row justify-end">
            {%- assign topNav = section.settings.top_header_nav -%}
            {% for link in linklists[topNav].links %}
            <li class="list-none mx-[20px] font-GTSuper italic text-body"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-header py-[26px] bg-teel">
    <div class="container content-max">
      <div class="flex flex-row flex-wrap mx-[-20px] items-stretched relative">
        <div class="w-[25%] px-[20px] overflow-visible">
          <div class="logo-wrapper">
            <img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="site-logo">
          </div>
        </div>
        <div class="w-[75%] px-[20px] relative">
          <div class="main-navigation absolute top-[14px] right-[20px] flex flex-row justify-end items-center">
            {% if section.settings.header_nav != blank %}
              <ul class="nav-list flex flex-row justify-end items-center">
                {%- assign nav_linklists = section.settings.header_nav -%}
                {% for link in linklists[nav_linklists].links %}
                  <li class="mx-[16px] font-Platform font-normal text-body tracking-[0.25em] uppercase">
                    <a href="{{- link.url -}}">{{- link.title -}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            <ul class="nav-icon-wrapper flex flex-row justify-end items-center">
              <li class="search-toggle mx-[16px]">
                <a href="#">{% render 'icon-search' %}</a>
              </li>
              <li class="cart-toggle mx-[16px]">
                <a href="#">{% render 'icon-bag' %}</a>
              </li>
              <li class="hamburger-wrapper mx-[16px] mr[-0]">
                {% render 'hamburger-nav' %}
              </li>
            </ul>
          </div>
        </div>
        {% if section.settings.header_intro != blank %}
          <div class="header-intro-text">
            <p class="text-[18px] font-GTSuper leading-[22px] mb-0 font-normal">{{ section.settings.header_intro }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "top_header_welcome",
      "label": "Header Welcome Text"
    },
    {
      "type": "link_list",
      "id": "top_header_nav",
      "label": "Top Header Nav"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "link_list",
      "id": "header_nav",
      "label": "Main  Header Navigation"
    },
    {
      "type": "textarea",
      "id": "header_intro",
      "label": "Header Intro Text"
    }
  ]
}
{% endschema %}
